<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    {% block css %}
        <link rel="stylesheet" href="/static/css/style.css">
    {% endblock %}
</head>
<body>
{% block menu %}
<nav>
    <ul class="topmenu">
        <li><a href="/">Главная</a></li>
        <li><a href="/catalog/" class="down">Каталог</a>
            <ul class="submenu">
                <li><a href="">Компьютеры</a></li>
                <li><a href="">Бытовая техника</a></li>
                <li><a href="">Смартфоны и гаджеты</a></li>
            </ul>
        </li>
        <li><a href="/basket/">Корзина</a></li>
    </ul>
</nav>
{% endblock %}
{% block content %}

{% endblock %}

</body>
</html>