.login-form{
    width: 50%;
    margin: 5vh auto;

}
.form-title{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
body{
    background: url(/static/img/background.png)
}
.register-form{
    width: 50%;
    margin: 5vh auto;
}