.login-form{
    width: 50%;
    margin: 5vh auto;

}
.form-title{
    text-align: center;
    font-weight: bold;
}
body{
    background: url(/static/img/background.png)
}
.registerbtn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
    background-color: dimgray;

}