* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background: url(/static/img/background.png)
}
/*nav {*/
/*    background: white;*/
/*}*/
/*nav ul {*/
/*  list-style: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/*nav a {*/
/*  text-decoration: none;*/
/*  outline: none;*/
/*  display: block;*/
/*  transition: .4s ease-in-out;*/
/*}*/
.topmenu {
  text-align: center;
  padding: 10px 0;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #d2d2d2;
  top: 16px;
  box-shadow: 4px -2px 0 #d2d2d2;
  transform: rotate(30deg);
}
.topmenu > li:last-child:after {
  background: none;
  box-shadow: none;
}
.topmenu > li > a {
  padding: 12px 26px;
  color: #767676;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Exo 2', sans-serif;
}
.topmenu li a:hover {
    color: #c0a97a;
}
/*.submenu {*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  top: 100%;*/
/*  width: 210px;*/
/*  margin-left: -105px;*/
/*  background: #fafafa;*/
/*  border: 1px solid #ededed;*/
/*  z-index: 5;*/
/*  visibility: hidden;*/
/*  opacity: 0;*/
/*  transform: scale(.8);*/
/*  transition: .4s ease-in-out;*/
/*}*/
/*.submenu li a {*/
/*  padding: 10px 0;*/
/*  margin: 0 10px;*/
/*  border-bottom: 1px solid #efefef;*/
/*  font-size: 12px;*/
/*  color: #484848;*/
/*  font-family: 'Kurale', serif;*/
/*}*/
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

/*.container {*/
/*    background-color: white;*/
/*}*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    /*margin: 5px 0 22px 0;*/
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
    background-color: dimgray;

}

a {
    color: dodgerblue;
}

/*.signin {*/
/*    text-align: center;*/
/*}*/

.login-form{
    width: 50%;
    margin: 5vh auto;

}
.form-title{
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}
body{
    background: url(/static/img/background.png)
}
.register-form{
    width: 50%;
    margin: 5vh auto;
}

input[type=email], input[type=email] {
    width: 100%;
    padding: 10px;
    /*margin: 5px 0 21px 0;*/
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.basket li {
    margin: 1vh;

}